*{
    margin: 0;
    padding:0;
}
body {
    background-image: linear-gradient(90deg, #d4f1ff, #ffffff);
    color: #1a150e;
    transition: 0.3s linear;
}

#inputTask::placeholder{
    color:grey;
}

.pointer{
    cursor: pointer;
}

